.navbar-brand {
    margin-top:12px;
    margin-left:55px;    
}

.mynav a:hover {
  border-bottom:2px solid #28a745;
  background: black;
  color: #fff !important;
}
.navbar-brand:hover {
  border-bottom: 2px solid transparent !important;
  background: #fff !important;
}
.carousel{
  width: 870px !important;
  margin-left: 56px;
}
.carousel-caption {
    top: 80px;
    bottom: auto;
}
.carousel-indicators li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color:2px solid transparent !important;
}
.mrt a:hover {
  border-bottom: solid transparent !important;
  background: #fff !important;
  color:black !important;
}
.drk:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:#000;
    opacity:0.2;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.container{
  
  background-color: black;
}
