

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
    transition:transform 2.2s ease;
}

.carousel-caption{
    position: absolute;
    top: -10%;
    transform: translate(-40%);
    text-align: start;
}